.Notes {
    width: 800px;
    margin: 70px auto 0;
    border: 1px solid #000;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.NotesFormHeader {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.NotesFormHeader input, .NotesFormHeader textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px;
    height: 70px;
    resize: none;
    font-size: 14px;
}

.NotesFormHeader input {
    width: 300px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.NotesFormHeader label {
    display: block;
    margin-bottom: 5px;
}

.NotesFormHeader button.addNote {
    display: block;
    width: 300px;
    height: 30px;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: red;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.NotesFormHeader button.addNote:hover {
    background: #000;
    color: #ffffff;
}

.NotesList {
    border: 1px solid #000;
    padding: 10px;
}

.NotesList li {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}

.NotesList li .noteTitle {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.NotesList li .noteText {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    border: 1px dashed #000;
    padding: 5px;
    width: 100%;
    resize: none;
    display: block;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.note__button__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note__button__block button {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    opacity: 0.7;
}

.note__button__block button.deleteNote {
    background: red;
}

.note__button__block button.saveNote {
    background: green;
}

.note__button__block button:hover {
    opacity: 1;
}

.note__button__block button:disabled {
    background: #cccccc;
    pointer-events: none;
}

.note__button__block button span {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
}